<h3>Yokohama</h3>
<small>ООО «ЙОКОХАМА Р.П.З.»</small>
<h4 class="py-4">Производство автомобильных шин</h4>
<p class="d-none d-md-block">Наша компания очень комфортно чувствует себя в Липецкой области. Основная причина, по которой мы выбрали именно ваш регион для строительства нашего завода, это максимальная привлекательность липецкой экономической зоны.</p>

<div class="author d-none d-md-flex align-items-center">
    <div class="avatar-block pr-4">
        <div class="avatar">
            <div class="embed-responsive embed-responsive-1by1" style="background-image: url('/upload/avatar.jpeg')"></div>
        </div>
    </div>
    <div class="info-block">
        <div class="mb-1"><b>Александр Зайцев</b></div>
        <small>Исполнительный директор Yokohama</small>
    </div>
</div>

<!--a href="#" class="btn btn-white btn-big">Подробнее</a-->